version: '3.7'
services:
  mysql:
    container_name: mysql
    image: mysql:latest
    ports:
      - '3306:3306'
    security_opt:
      - seccomp:unconfined
    volumes:
      - /data/db
    environment:
      MYSQL_ROOT_PASSWORD: 'password'
      MYSQL_ROOT_HOST: '%'
