openapi: 3.0.3
info:
  title: Todolist RESTful API
  version: '1'
paths:
  /api/todolists:
    get:
      tags:
        - Todolists
      summary: Get all Todolists
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: integer
      responses:
        default:
          $ref: '#/components/responses/default'
        200:
          $ref: '#/components/responses/Todolists'
    post:
      tags:
        - Todolists
      summary: Create new Todolist
      requestBody:
        $ref: '#/components/requestBodies/NewTodolist'
      responses:
        200:
          $ref: '#/components/responses/Todolist'
  /api/todolists/{id}:
    get:
      tags:
        - Todolists
      summary: Get a single Todolist
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        default:
          $ref: '#/components/responses/default'
        400:
          $ref: '#/components/responses/Errors'
        200:
          $ref: '#/components/responses/Todolist'
    put:
      tags:
        - Todolists
      summary: Update existing Todolist
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateTodolist'
      responses:
        default:
          $ref: '#/components/responses/default'
        400:
          $ref: '#/components/responses/Errors'
        200:
          $ref: '#/components/responses/Todolist'
    delete:
      tags:
        - Todolists
      summary: Delete existing todolist
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        204:
          $ref: '#/components/responses/204'
        default:
          $ref: '#/components/responses/default'
  /api/todos:
    get:
      tags:
        - Todos
      summary: Get all Todos
      responses:
        default:
          $ref: '#/components/responses/default'
        400:
          $ref: '#/components/responses/Errors'
        200:
          $ref: '#/components/responses/Todos'
    post:
      tags:
        - Todos
      summary: Create new Todo
      requestBody:
        $ref: '#/components/requestBodies/NewTodo'
      responses:
        200:
          $ref: '#/components/responses/Todo'
  /api/todos/{id}:
    put:
      tags:
        - Todos
      summary: Update existing Todo
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateTodo'
      responses:
        default:
          $ref: '#/components/responses/default'
        400:
          $ref: '#/components/responses/Errors'
        200:
          $ref: '#/components/responses/Todo'
    delete:
      tags:
        - Todos
      summary: Delete existing Todo
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        204:
          $ref: '#/components/responses/204'
        default:
          $ref: '#/components/responses/default'

components:
  parameters:
    id:
      name: id
      in: path
      description: ID of the resource
      required: true
      schema:
        type: integer
        format: int64

  requestBodies:
    NewTodolist:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NewTodolist'
    UpdateTodolist:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateTodolist'
    NewTodo:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NewTodo'
    UpdateTodo:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateTodo'

  responses:
    default:
      description: Unexpected error
    204:
      description: No Content, successful deletion
    Todolists:
      description: A list of Todolists
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Todolist'
    Todolist:
      description: A single Todolist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Todolist'
    Todos:
      description: A list of Todos
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Todo'
    Todo:
      description: A single Todo
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Todo'
    Errors:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'

  schemas:
    Todolist:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        userId:
          type: integer
        todos:
          type: array
          items:
            $ref: '#/components/schemas/Todo'

    NewTodolist:
      type: object
      required:
        - name
        - userId
      properties:
        name:
          type: string
        userId:
          type: integer

    UpdateTodolist:
      type: object
      properties:
        name:
          type: string

    Todo:
      type: object
      properties:
        id:
          type: integer
        todolistId:
          type: integer
        name:
          type: string
        isDone:
          type: boolean

    NewTodo:
      type: object
      required:
        - todolistId
        - name
      properties:
        todolistId:
          type: integer
        name:
          type: string
        isDone:
          type: boolean
          default: false

    UpdateTodo:
      type: object
      properties:
        name:
          type: string
        isDone:
          type: boolean

    Errors:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldError'

    FieldError:
      type: object
      properties:
        field:
          type: string
        value:
          type: string
